<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    
    <commands>
        <command class="TheliaSentry\Command\TestCommand"/>
    </commands>

    <services>
        <service id="TheliaSentry\EventListener\ConsoleCommandListener" class="TheliaSentry\EventListener\ConsoleCommandListener">
            <tag name="kernel.event_listener" event="console.exception" method="handleConsoleErrorEvent" priority="-64" />
        </service>

        <service id="TheliaSentry\EventListener\ErrorListener" class="TheliaSentry\EventListener\ErrorListener">
            <tag name="kernel.event_listener" event="kernel.exception" method="handleExceptionEvent" priority="128" />
        </service>

        <service id="TheliaSentry\EventListener\RequestListener" class="TheliaSentry\EventListener\RequestListener">
            <tag name="kernel.event_listener" event="kernel.request" method="handleKernelRequestEvent" priority="128" />
        </service>
    </services>

    <hooks>
        <hook id="theliasentry.main.before_content" class="TheliaSentry\Hook\AdminHome">
            <tag name="hook.event_listener" event="main.before-content" type="back" method="onMainBeforeContent" />
        </hook>
    </hooks>
</config>
